.DS-visualizer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .setting{
        height: 70px;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        button{
            width: 80px;
            height: 30px;
            font-size: 12px; 
            margin: 0 7px;
            border: 1px solid;
            color: rgb(63, 145, 90);
            letter-spacing: 0.5px;
            cursor: pointer;

            &:hover {
                background-color: #bed8c5; 
            }
        }

        .special-button{
            background-color: rgb(63, 145, 90);
            color: #eee;
        }

        .selectDS {
            margin: 0px 5px;

            select{
                height: 30px;
                border: 1px solid rgb(63, 145, 90);
                
                width: 100px;
                background-color: #f5f5f5;
                color: rgb(63, 145, 90);
                padding: 0px 5px;
                font-size: 12px;
                cursor: pointer;

                &:hover {
                    background-color: #bed8c5;
                }
            }
        }
   }

    .algoInfo{
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stack-interface {
        height: 350px;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .stack-container {
            width: 300px;
            height: 310px; 
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 20px;

            .stack-element {
                width: 70%;
                height: 30px;
                background-color: #bed8c5;
                border: 1px solid #000;
                margin:  3px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: transform 0.3s ease-in;
            }
            
            .stack-element.peeked{
                background-color:  #15782e;
            }

            .stack-element.dropping-diagonal {
                animation: drop-diagonal 0.6s ease-in-out forwards;
              }
              
              /* Diagonal drop from top left to stack */
              @keyframes drop-diagonal {
                from {
                  transform: translate(-50px, -50px); /* Start from top left */
                }
                to {
                  transform: translate(0, 0); /* Move to final position */
                }
              }

              .stack-element.popping-diagonal {
                animation: pop-diagonal 0.6s ease-in-out forwards;
              }
              
              @keyframes pop-diagonal {
                from {
                  transform: translate(0, 0); /* Start at final position */
                }
                to {
                  transform: translate(-50px, -50px); /* End off-screen to top-left */
                }
              }
        }
    }


    .queue-interface {
      height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;

      .queue-container {
        display: flex;
        
        width: calc((50px) * 8); /* BLOCK_WIDTH * queue size */
        position: relative;
        margin-bottom: 20px;

        .queue-block {
          width: 50px;
          height: 50px;
          background-color: #bed8c5;
          border: 0.2px solid #000;
          
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .queue-block.peeked{
          background-color: #15782e;
        }

        .queue-block.enqueue-animation {
          position: absolute;
          width: 50px;
          height: 50px;
          background-color: #bed8c5;
          border: 1px solid black;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 10;
          animation: drop-into-queue 0.6s ease-in-out forwards;
          transition: left 0.6s ease-in-out;
        }
        
        
        @keyframes drop-into-queue {
          from {
            transform: translateY(0); 
          }
          to {
            transform: translateY(70px); /* Move down into position */
          }
        }

        .queue-block.dequeue-animation {
          position: absolute;
          width: 50px;
          height: 50px;
          background-color: #bed8c5;
          border: 1px solid black;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 10;
          animation: dequeue-move 0.6s ease-in-out forwards;
        }
        
        
        @keyframes dequeue-move {
          from {
            transform: translateY(0); 
          }
          to {
            transform: translateY(-60px); /* Move upwards */
          }
        }
      }  
    }
    
        
    .explanation-container {  
        height: 280px; 
        margin-top: 20px;
        background-color: #bed8c5;
        overflow-x: auto;

        h1{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          size: 25px;
          text-transform: uppercase;
        }

        p{
          text-indent: 40px;
          font-size: 22px;
          padding: 0 10px;
          margin-bottom: 10px;
        }

        .DS-operation{
          padding: 5px 10px;
          font-size: 22px;
        }
    }   
}